/* Product CSS Start */

div#products {
  padding: 100px 0;
}

.product-wrapper {
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  border-radius: 10px;
}

.product-wrapper img {
  width: 100%;
  margin: 0 0 20px;
}

.product-module {
  display: flex;
  justify-content: space-between;
}

.product-title h3 {
  font-size: 24px;
  line-height: 32px;
  font-family: "Poppins";
  font-weight: 500;
}

button.cta-btn {
  border: unset;
  color: #fff !important;
  background: #1eabd5db !important;
  padding: 10px 40px;
  border-radius: 5px;
}

button.cta-btn a {
  color: #fff;
  text-decoration: none;
}

/* Product CSS End */